body {
    padding-top: 61px;
}

.sidebar {
    position: fixed;
    left: 0;
    width: $sidebarWidth;
    height: 100%;
}

.dashboard {
    padding-left: $sidebarWidth;
}

.album {
    cursor: pointer;

    img {
        max-width: 100%;
    }

    p {
        font-size: 25px;
    }

}